@import "~style";

$block-name: "b-selector";

.#{$block-name} {
	display: flex;
	flex-direction: column;

	&__label {
		font-size: 36px;
		width: auto;
	}

	&__input {
		height: 40px;
		font-size: 18px;
		padding: 5px;
		border: 1px solid;
		border-color: #841844;
		border-radius: 5px;
		background-color: white;
	}
}
