@import "~style";

$block-name: "b-form";

.#{$block-name} {
	font-family: "Open Sans";

	&__content {
		margin-left: 10vw;
		margin-right: 10vw;
		height: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__message {
		height: auto;
		color: #841844;
		font-size: 24px;
	}

	&__ok {
		font-size: 24px;
		color: #40bd51;
	}

	&__info {
		font-size: 24px;
		margin-bottom: 40px;
	}

	&__send {
		width: 500px;
	}
}
